<!-- <img class="imgburgerbg" src="https://cdn.discordapp.com/attachments/965238555733557290/1083658725560172564/Untitled-23.jpg" alt="" style="background-repeat: no-repeat; background-size: cover;"> -->

<header class="main-header-container">
    <div class="main-header container">
        
        <h2>
            <a class="main-logo" href="{% url 'recipes:home' %}">
                <i class="fa-solid fa-utensils main-logo-icon"></i>
                <span class="main-logo-text">Burger Menu</span>
            </a>
        </h2>
    </div>
    <style>

body {
    background-image: url("https://cdn.discordapp.com/attachments/965238555733557290/1083658725560172564/Untitled-23.jpg");
    background-position: center;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
    background-size: cover;
    
}
    </style>
</header>